// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-stlock {

  background-color: #444 !important;

  .title {
    color: #fff;
  }

  .icon-unlocked {
<<<<<<< HEAD
  	color: #ff00aa;
  }

  .icon-locked {
  	color: #fff;
=======
  	color: #FF9900;
  }

  .icon-locked {
  	color: #888888;
>>>>>>> 865abc46ee97c0de97d1e092b5c4eeab7b24c2d8
  }

}
