    <script type='text/javascript'></script>

    <% content_for :title do %>HADashboard<% end %>

    <div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="backdoorlock" data-view="Stlock" data-title="Back Door " data-device="Back Door Lock"  data-event-click="onClick">          </div>
      </li>
    </li>
      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="frontdoorlock" data-view="Stlock" data-title="Front Door " data-device="Front Door Lock"  data-event-click="onClick">          </div>
      </li>


      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="backdoor" data-view="Stcontact" data-title="Back Door" data-device="Back Door Sensor">     </div>
      </li>
    </li>
      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="frontdoor" data-view="Stcontact" data-title="Front Door" data-device="Front Door Sensor"></div>
      </li>
      <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="backhmotion" data-view="Stmotion" data-title="Back Door" data-device="Back Motion & Temperature"></div>
      </li>

      <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="frontporchmotion" data-view="Stmotion" data-title="Front Door" data-device="Front Porch Motion & Temperature"></div>
      </li>








  </ul>
</div>
