// ----------------------------------------------------------------------------
// Widget-stpresence styles
// ----------------------------------------------------------------------------
.widget-stpresence {
<<<<<<< HEAD
=======
  background-color: #444 !important;
>>>>>>> 865abc46ee97c0de97d1e092b5c4eeab7b24c2d8

  .title {
    color: #fff;
  }

  .icon-present {
<<<<<<< HEAD
  	color: #aaff00;
  }

  .icon-absent {
  	color: #888888;
=======
  	color: #888888;
  }

  .icon-absent {
  	color: #FF9900;
>>>>>>> 865abc46ee97c0de97d1e092b5c4eeab7b24c2d8
  }
}
